@import url("https://fonts.googleapis.com/css?family=Noto Sans Palmyrene:700|Noto Sans Palmyrene:400");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #020a0d;
    --background: #e0f2fa;
    --primary: #99401a;
    --secondary: #f7efcf;
    --accent: #d62448;
  }
  .dark {
    --text: #f2fafd;
    --background: #05171f;
    --primary: #e58c66;
    --secondary: #302808;
    --accent: #db294d;
  }
}

body {
  font-family: "Noto Sans Palmyrene";
  font-weight: 400;
}

/* h1,
h2,
h3,
h4,
h5 {
  font-family: "Noto Sans Palmyrene";
  font-weight: 700;
}

html {
  font-size: 100%;
}

h1 {
  font-size: 4.21rem;
}

h2 {
  font-size: 3.158rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: 1.333rem;
}

small {
  font-size: 0.75rem;
} */
